.app {
    &-nav {
        display: flex;
        justify-content: space-between;
        .link {
            font-size: 16px;
            text-decoration: none;
        }

        .link + .link {
            margin-left: 10px;
        }
    }
}
