.list {
    margin: 20px;

    .items {
        gap: 2rem;
        .item {
            .avatar {
                background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
                background-size: cover;
            }
        }
    }
}
